.main-header {
  padding: 20px 0px;
  position: absolute;
  top: -50px;
  z-index: 0;
  font-size: 24px;
  height: 60px;
  width: 100%;
  color: #333;
  font-family: "Raleway", serif;
}

.main-header-list {
  font-size: 14px;
  width: 100%;
  float: left;
  height: 100%;
}
.main-header-list > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
.main-header-list > ul > li {
  position: relative;
  float: left;
  width: 15%;
  margin: 0 2.5%;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: #eee;
  border: 1px solid #eee;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}
.main-header-list > ul > li:first-child {
  margin-left: 0px;
}
.main-header-list > ul > li:last-child {
  margin-right: 0px;
  padding: 20px 2% 0px 2%;
}

.main-header-list > ul > li:hover {
  background-color: #fff !important;
  color: #3f1eb6 !important;
}

@media screen and (max-width: 1800px) {
  .main-header-list > ul > li:last-child {
    margin-right: 0px;
    padding: 20px 1.5% 0px 1.5%;
  }
}

@media screen and (max-width: 1400px) {
  .main-header-list > ul > li:last-child {
    margin-right: 0px;
    padding: 20px 1.5% 0px 1.5%;
  }
  .main-header-list > ul > li {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .main-header-list > ul > li {
    font-size: 10px;
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 700px) {
  .main-header-list > ul > li {
    margin: 0 2%;
  }
}
@media screen and (max-width: 550px) {
  .main-header {
    top: -60px;
  }
  .main-header-list > ul > li {
    margin: 0%;
    width: 18.5%;
    font-size: 8px;
  }
}
