.App {
  font-family: "Raleway", serif;
  background-image: url("/public/4852238.jpg");
  background-size: 100%;
  height: 100vh;
  width: 100vw;
}
.main-mybio {
  position: relative;
  width: 20%;
  height: 70vh;
  background-color: white;
  margin: 8.5% 2.5% 5% 5%;
  float: left;
  padding: 0px;
  border-radius: 50px;
  box-shadow: 15px 15px 25px 0px rgba(0, 0, 0, 0.25);
}
.main-content {
  position: relative;
  width: 55%;
  height: 70vh;
  margin: 7.5% 5% 5% 2.5%;
  float: left;
}
.main-content-text {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: white;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 15px 15px 25px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.main-mybio > img {
  position: absolute;
  text-align: center;
  top: -70px;
  left: 35%;
  border-radius: 30px;
}
@media screen and (max-width: 1800px) {
  .main-mybio {
    position: relative;
    width: 20%;
    height: 80vh;
    margin: 8.5% 2.5% 5% 5%;
  }
  .main-content-text {
    width: 100%;
    height: 80vh;
    background-color: white;
  }
  .main-content {
    margin: 7% 2.5%;
    width: 60%;
  }
  .main-mybio > img {
    left: 30%;
  }
}
@media screen and (max-width: 1400px) {
  .main-mybio {
    margin-right: 0%;
    border-radius: 100px 0px 0px 100px;
  }
  .main-content-text {
    width: 100%;
    height: 80vh;
    background-color: white;
  }
  .main-content {
    margin-left: 0%;
    width: 70%;
  }
  .main-content-text {
    margin-left: 0%;
    border-radius: 0px 0px 100px 0px;
  }
  .main-mybio > img {
    left: 30%;
    height: 120px;
    width: 120px;
  }
}
@media screen and (max-width: 1000px) {
  .main-mybio > img {
    left: 20%;
  }
  .main-mybio {
    border-radius: 0px;
    margin: 12% 0%;
    width: 25%;
  }
  .main-content-text {
    width: 100%;
    height: 80vh;
    background-color: white;
  }
  .main-content {
    margin: 10% 0%;
    width: 75%;
  }
  .main-content-text {
    margin-left: 0%;
    border-radius: 0px;
  }
}
@media screen and (max-width: 700px) {
  .main-mybio {
    height: 40vh;
    width: 100%;
    float: none;
    margin-bottom: 100px;
  }
  .main-content-text {
    width: 100%;
    height: 80vh;
    background-color: white;
  }
  .main-content {
    margin: 10% 0%;
    width: 100%;
    float: none;
  }
  .main-content-text {
    margin-left: 0%;
    border-radius: 0px;
  }
  .main-mybio > img {
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    margin: 20px;
  }
}
