.main-aboutme-bg {
  margin: 20px;
}
.main-aboutme {
  padding: 40px;
}
.main-aboutme > hr {
  width: 30%;
  height: 4px;
  background-color: #3f1eb6;
  margin: 0px;
}
.main-aboutme-text-do-box {
  float: left;
  width: 39%;
  margin: 0% 5% 2.5% 5%;
  height: 140px;
  border: 1px solid #3f1eb6;
  border-radius: 20px;
}
.main-aboutme-text-do-box-img {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-right: 5%;
  height: 50px;
  background-color: #3f1eb6;
  border-radius: 20px 0px 0px 20px;
}
.main-aboutme-text-do-box-desc {
  padding-top: 10px;
  float: left;
  width: 70%;
}
.main-aboutme-text-do-box-desc > h3 {
  margin-bottom: 0px;
}
.main-aboutme-text-do-box-desc > p {
  font-size: 14px;
  padding-right: 40px;
  margin-top: 5px;
}
.main-aboutme-text-lang-box {
  position: relative;
  width: 40%;
  float: left;
}
.main-aboutme-text-lang-box > p {
  margin-top: 0px;
}
.main-aboutme-text-lang-bar-pl {
  position: absolute;
  height: 6px;
  margin: 0px;
  background-color: #3f1eb6;
  color: #3f1eb6;
  width: 80%;
}
.main-aboutme-text-lang-bar-eng {
  position: absolute;
  height: 6px;
  margin: 0px;
  background-color: #3f1eb6;
  color: #3f1eb6;
  width: 60%;
}
.main-aboutme-text-lang-bar-ch {
  position: absolute;
  height: 6px;
  margin: 0px;
  background-color: #3f1eb6;
  color: #3f1eb6;
  width: 20%;
}
.main-aboutme-text-lang-bar-jp {
  position: absolute;
  height: 6px;
  margin: 0px;
  background-color: #3f1eb6;
  color: #3f1eb6;
  width: 20%;
}
.main-aboutme-text-lang-bar-full {
  width: 80%;
  height: 6px;
  margin: 0px;
}

@media screen and (max-width: 1400px) {
  .main-aboutme-text-lang-box {
    width: 50%;
  }
  .main-aboutme-text-do-box {
    float: left;
    width: 39%;
    margin: 0% 5% 2.5% 5%;
    height: 140px;
    border: 1px solid #3f1eb6;
    border-radius: 20px;
  }
  .main-aboutme-text-do-box-desc > p {
    font-size: 12px;
  }
  .main-aboutme-text-do-box-desc > h3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .main-aboutme-text > p {
    font-size: 14px;
  }
  .main-aboutme-text-do-box {
    clear: both;
    width: 80%;
    height: 100px;
  }
  .main-aboutme-text-do-box-img {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
  }
  .main-aboutme-text-do-box-img > svg {
    width: 30px;
  }
}
@media screen and (max-width: 700px) {
  .main-aboutme-text > p {
    font-size: 12px;
  }
  .main-aboutme-text-do-box {
    clear: both;
    width: 80%;
    height: 90px;
  }
  .main-aboutme-text-do-box-img {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 60px;
  }
  .main-aboutme-text-do-box-desc > h3 {
    margin-top: 0px;
  }
  .main-aboutme-text-do-box-desc > p {
    font-size: 10px;
  }
  .main-aboutme-text-lang-box > p {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  .main-aboutme-bg {
    margin: 00px;
  }
  .main-aboutme {
    padding: 10px;
  }
  .main-aboutme-text > p {
    font-size: 10px;
  }
  .main-aboutme-text-do-box {
    height: 80px;
  }
  .main-aboutme-text-do-box-img {
    height: 50px;
  }
  .main-aboutme-text-do-box-desc > p {
    font-size: 8px;
  }
  .main-aboutme-text-lang-box > p {
    font-size: 10px;
  }
  .main-aboutme-text-do > h2 {
    font-size: 16px;
  }
  .main-aboutme-text-lang > h2 {
    font-size: 16px;
  }
  .main-aboutme > h1 {
    font-size: 18px;
  }
}
