.main-aboutme-bg {
  background-color: #313b72;
  height: 800px;
}
.main-aboutme {
  width: 80%;
  margin: auto;
}
.main-aboutme-text {
  width: 50%;
  float: left;
  margin: 2.5% 5%;
  color: white;
}
.main-aboutme-image {
  width: 30%;
  float: left;
  margin: 2.5% 5%;
}
